employee_onboarding/src/main/resources/AccountsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.mulesoft.com/AccountsService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountsService" targetNamespace="http://www.mulesoft.com/AccountsService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.mulesoft.com/AccountsService/">
      <xsd:element name="accountInput">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="domain" type="xsd:string" />
          	<xsd:element name="firstname" type="xsd:string"></xsd:element>
          	<xsd:element name="lastname" type="xsd:string"></xsd:element>
          	<xsd:element name="role" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="accountOutput">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="email" type="xsd:string" />
          	<xsd:element name="accountname" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createAccountRequest">
    <wsdl:part element="tns:accountInput" name="request"/>
  </wsdl:message>
  <wsdl:message name="createAccountResponse">
    <wsdl:part element="tns:accountOutput" name="response"/>
  </wsdl:message>
  <wsdl:portType name="AccountsService">
    <wsdl:operation name="createAccount">
      <wsdl:input message="tns:createAccountRequest"/>
      <wsdl:output message="tns:createAccountResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountsServiceSOAP" type="tns:AccountsService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createAccount">
      <soap:operation soapAction="http://www.mulesoft.com/AccountsService/createAccount"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountsService">
    <wsdl:port binding="tns:AccountsServiceSOAP" name="AccountsServiceSOAP">
      <soap:address location="http://www.mulesoft.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
